#courses-menu {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#courses-list {
  margin: 0;
  width: 40%;
  border-right: 1px;
  overflow-y: scroll;
}

#courses-list li {
  list-style-type: none;
}

.course-item-selected {
  background-color: #212121;
  color: #FFFFFF;
}
